.root {
    position: absolute;
    width: 100%;
    top: 30vh;
    text-align: center;
    font-size: 10vmax;
    font-weight: bold;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: brown;
    cursor: pointer;
    text-transform: uppercase;
    animation: show 2s;
    opacity: 1;
    margin-bottom: 20vh;
    text-decoration: none;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
