$color-main: #344855;
$color-cell: darken($color-main, 5%);
$color-cell-error: rgba(64, 0, 0, 0.3);
$color-cell-track: rgba(0, 64, 0, 0.5);

$color-ball-1: magenta;
$color-ball-2: sienna;
$color-ball-3: cadetblue;
$color-ball-4: lightgreen;
$color-ball-5: yellow;
$color-ball-6: whitesmoke;
$color-ball-7: pink;
$color-ball-8: salmon;
$color-ball-9: lime;
$color-ball-10: royalblue;

$size-cell: 14vmin;
$size-ball: $size-cell * 0.55;
$shineShiftX: 60%;
$shineShiftY: 20%;

%jump {
    animation-name: jump;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

@keyframes jump {
    from {
        box-shadow: -2px 5px 8px -3px black;
        transform: scale(1);
        margin-top: 0px;
    }

    to {
        box-shadow: -2px 11px 20px 0px black;
        transform: scale(1.05);
        margin-top: -6px;
    }
}

.root {
    width: $size-cell;
    height: $size-cell;
    background-color: $color-cell;
    border: 1px solid $color-main;
    flex: 0 1 auto;
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: lighten($color-cell, 2%);
    }

    &.track {
        &::before {
            content: ".";
            opacity: 0.5;
            font-weight: bold;
        }

        // background-color: $color-cell-track;
    }

    &.error {
        background-color: $color-cell-error;
    }
}

.ball {
    position: absolute;
    width: $size-ball;
    height: $size-ball;
    border-radius: 100%;
    transition: all 0.25s;
    box-shadow: -2px 5px 8px -3px black;

    &.freeze {
        width: $size-ball * 1.15;
        height: $size-ball * 1.15;
        border: 1px solid white;
        filter: blur(1px);
    }

    &.active {
        @extend %jump;
    }

    &.born,
    &.death {
        width: 0;
        height: 0;
    }

    &.ball-1 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-1,
            #000
        );
    }

    &.ball-2 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-2,
            #000
        );
    }

    &.ball-3 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-3,
            #000
        );
    }

    &.ball-4 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-4,
            #000
        );
    }

    &.ball-5 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-5,
            #000
        );
    }

    &.ball-6 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-6,
            #000
        );
    }

    &.ball-7 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-7,
            #000
        );
    }

    &.ball-8 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-8,
            #000
        );
    }

    &.ball-9 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-9,
            #000
        );
    }
    &.ball-10 {
        background: radial-gradient(
            circle at $shineShiftX $shineShiftY,
            $color-ball-10,
            #000
        );
    }
}
